@import "tailwindcss";
@config "../tailwind.config.js";

body {
  position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.tabs-container .MuiBox-root {
  padding: 0;
}

.tabs-container button.MuiButtonBase-root {
  color: #3b6d92;
  font-weight: 600;
}

.tabs-container .MuiTabs-indicator {
  background-color: #3b6d92;
}

.mockup-container label.MuiButtonBase-root {
  background-color: #3b6d92;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px;
  /* gutter size */
  background-clip: padding-box;
}

/* optional: animate cards */
.my-masonry-grid_column>div {
  margin-bottom: 16px;
  transition: all 0.3s ease;
}

.capture-hide-border {
  border: none !important;
  box-shadow: none !important;
}